{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Posts by category
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="col-md-4 d-flex justify-content-center py-5">
            <div class="card text-center" style="width: 100%;">
                <img class="card-img-top" src="{{ post.image.url }}" alt="">
                <div class="card-body">
                    <a href="{% url 'blog_app:post_detail' slug=post.slug %}">
                        <h4 class="card-title">{{ post.title }}</h4>
                    </a>
                    <p class="card-text">{{ post.content|truncatechars:100|safe }}</p>
                    <p class="fw-lighter">{{ post.category }}</p>
                    <p class="fw-light fst-italic">Posted by {{ post.author }}</p>
                    <p class="fw-lighter">{{ post.created }}</p>

                    {% if user.is_authenticated and user == post.author %}
                        <a href="{% url 'blog_app:update_post' slug=post.slug %}"
                           class="btn btn-warning btn-sm">Update</a>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modelId">
                            Delete
                        </button>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}